<div class="row">
  <div
    class="col-md-2"
    style="background-color:aqua;height:700px;line-height:70px;text-align:center;"
  >
    <img
      src="https://images.unsplash.com/photo-1551161242-b5af797b7233?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aHlkZXJhYmFkfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
      style="height: 100px;width:100px;border-radius:100px;margin-top:10px;"
    />
    <br />
    <span>
      <a routerLink="/home">Home</a><br />
      <a routerLink="/profile">Profile</a><br />
      <a routerLink="/about">About</a><br />
      <a routerLink="/settings">Settings</a><br />
    </span>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="showLoader">
  <span class="sr-only">Loading...</span>
</div>
