<h4 class="head">Profile</h4>
<div>
  <div class="b-1">
    <button type="button" class="btn btn-warning">
      <a [routerLink]="'/profile/add'">ADD+</a>
    </button>
  </div>
  <div class="row" style="margin-top:100px;margin-left:50px;">
    <table class="col-md-12">
      <tr>
        <th>index</th>
        <th>Name</th>
        <th>Contact</th>
        <th>E-Mail</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let obj of data; let i = index">
        <td>{{ obj.id }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.contact }}</td>
        <td>{{ obj.email }}</td>
        <td>
          <span><a [routerLink]="['/profile/edit', obj.id]">E</a></span>
          &nbsp;
          <span><a [routerLink]="['/profile/view', obj.id]">V</a></span>
          &nbsp;
          <span
            ><button
              type="button"
              class="btn btn-light"
              (click)="openPopup(obj.id)"
            >
              D
            </button></span
          >
        </td>
      </tr>
    </table>
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: displayStyle }"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Data</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete ?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="closePopup()"
            >
              Ok
            </button>
            <button type="button" class="btn btn-danger" (click)="closePopup()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
